Package: enigma2-plugin-extensions-curlytx
Version: 0.1
Description: Fetch and display remote text files via HTTP
Maintainer: Christian Weiske <cweiske@cweiske.de>
Depends: enigma2, python-twisted-web
